.mapbox {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.tooltip {
    position: absolute;
    text-align: center;
    margin: 8px;
    padding: 10px;
    background: rgba(51, 48, 48, 0.587);
    color: #fff;
    width: 600px;
    font-size: 10px;
    z-index: 9;
    pointer-events: none;
}